html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: rgba(248, 149, 197, 0.66);

}

section {
    height: 100vh;
    scroll-snap-align: center;
    overflow-y: hidden;
}

.about {
    height: 500vh;
}

#Menu,
#Homepage,
#Contact {
    background-color: rgba(248, 149, 197, 0.66);

}

#Services {
    height: 80vh;
}